@import "../Common/common";
@import "../Variable/variable";
@import "../Mixin/mixin";

#banner_part{
    position: relative;
   .main{
    z-index: 1;
    width: 100%;
    height: 783px;
    img{
        background: no-repeat center;
        width: 100%;
        height: 100%;
    }
   }
   .overlay{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.45);
    width: 100%;
    height: 100%;
    }
    h2{
        width: 842px;
        height: 186px;
        @include typograpy($font_color,$font_family,64px,$font_style,700,$line_height);
        margin-top: 174px;
    }
    button{
        background: $nav_color;
        @include typograpy($font_color,$font_family,16px,$font_style,600,$line_height);
        width: 186px;
        height: 51px;
    }
   }