@import "../Common/common";
@import "../Variable/variable";
@import "../Mixin/mixin";

#company{
    background-color: $bg_color;
    .main{
        display: flex;
        margin: 136px 0;
        justify-content: center;
        text-align:center ;
    }
    .text{
        background-color: red;
        width: 413px;
        height: 361px;
        padding: 100px 77px 99px 74px;
        @include typograpy($font_color,$font_family,36px,$font_style,700,$line_height);
    }
 }